*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

.container{
    display: flex; 
    gap: 10px;
}

header{
    border: 1px solid #ccc;
    height: 100vh;
    position: sticky;
    top: 0;
}

nav h1{
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid ;
    padding: 10px;
}

nav ul li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    transition: 0.1s ease-in-out;
}
 
nav li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    cursor: pointer;
    background: #ccc;
    transition: 0.3s ease-in-out;
  }


main{
    padding: 50px;
}

section {
    margin-bottom: 50px;
    scroll-margin: 50px;
}

section article {
    max-width: 1200px;
    font-size: 14px;
}
section h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
  
section article {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
section article ul {
    margin-left: 20px;
}
section article ul li {
    margin-bottom: 10px;
}
  
section article p {
    font-size: 14px;
    line-height: 1.6;
}
  
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}